/* 
    POSITIONING

    Consiste en pasar un elemento HTML del plano 2D al plano
    3D.
    Pasado en criollo, vamos a desncajar el elemento para que
    pueda superponerse a otros elementos.

    Un elemento desencajado puede alternar la superposicion
    con otros elementos desncajados.

    Para ello, a cada elemento desencajado se le asigna un
    indice que arranca en 1.

    Es posible alterar el orden del indice con una propiedad
    de CSS llamada z-index.

    Hay 3 tipos de posicionamiento:
        -> Absoluto -> Posicionar un elemento respecto de los margenes del navegador
        -> Relativo -> Posiciona un elemento respecto de los margenes de su padre contenedor
        -> Fijado (fixed) -> Es parecido al absoluto, pero se fija respecto a los margenes del viewport.
*/

/* .box {
    background-color: transparent;
    width: 500px;
    height: 300px;
    border: 2px dashed black;
    position: absolute;
    z-index: 2;
}
.box2 {
    background-color: green;
    width: 300px;
    height: 200px;
    position: absolute;
    right: 50px;
    top: 75px;
    z-index: 3;
}
.box3 {
    background-color: yellow;
    width: 250px;
    height: 250px;
    position: absolute;
    right: 60px;
    top: 200px;
    z-index: 1;
} */

/******************************************************/
* {
  margin: 0;
}

nav {
  background-color: purple;
  height: 10vh;
  position: fixed;
  width: 100%;
}

img {
    width: 80px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: 1s;
}

/* pseudoclase */
/* hover -> hold over */
img:hover {
    transform: scale(1.25);
}

.uno {
  background-color: orange;
  width: 100%;
  height: 100vh;
}
.dos {
  background-color: yellow;
  width: 100%;
  height: 100vh;
}
